{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "xo-space/esnext", "prettier"],
  "rules": {
    "semi": 0
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true
  }
}
